@charset "UTF-8";

*{
    padding: 0px;
    margin: 0px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 100;
}

body, html{
    height: 100vh;
}

body{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    background-color: #D4D2D4;
}

header{
    margin-top: 4rem;
    font-size: 1.3em;
    text-shadow: 1px 1px 5px rgba(0, 0, 0, 0.492);
}

main{
    display: flex;
    justify-content: center;
}

main > section{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70vw;
    margin-bottom: 50px;
    gap: 10px;
    padding: 10px;
    background-color: white;
    box-shadow: 0px 0px 15px 10px rgba(0, 0, 0, 0.176);
}
 main > section > div{
    width: 13rem;
    height: 11rem;
    flex-grow: 1;
    overflow: hidden;
    position: relative;
 }

 main > section > div > img{
    width: 100%;
    height: 100%;
    position: absolute;
    transition: transform .5s ease;
 }

 main > section > div > div{
    position: absolute;
    width: 100%;
    padding: 10px 0px;
    background-color: rgba(0, 0, 0, 0);
    bottom: 0px;
    color: white;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
    font-size: 0.7em;
    transform: translateY(100%);
    transition: transform .5s ease, background-color .6s ease-out, box-shadow .6s ease-out;
 }

 main > section > div:hover > img{
    transform: scale(1.2);
 }

 main > section > div:hover > div{
    transform: translateY(0);
    background-color: rgba(0, 0, 0, 0.645);
    box-shadow: 0px -1px 20px 2px rgba(0, 0, 0, 0.598);
 }

 main > section > div::before{
    content: "";
    display: inline-block;
    position: absolute;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.185) inset;
    z-index: 1;
    height: 100%;
    width: 100%;
    background-color: #d4d2d49a;
    transition: box-shadow .6s ease, background-color .6s ease;
 }

 main > section > div:hover::before{
    box-shadow: none;
    background-color: #d4d2d400;
  }
